.auth-container {
  min-height: 100vh;
  padding: 2rem;
  background-color: #f3f3f3;
  flex-wrap: wrap;
}

.form-box {
  width: 100%;
  max-width: 400px;
  min-height: 400px;
}

@media (min-width: 768px) {
  .form-box {
    width: 400px;
  }
}
